.Collapse {
    display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 2rem;
justify-content: center;
}
.collapse-flex {
    overflow-y: clip;
    margin: 30px 0px;
}
.Collapse-container {
    justify-content: space-between;
    display: flex;
    padding-inline: 0;
    width: 45%;
    align-items: baseline;
}
.Collapse-container-about {
    justify-content: center;
    display: flex;
    padding-right: 2%;
    width: 86%;
    overflow-y: clip;
}

.Collapse-logement {
width: 100%;
overflow: hidden;
padding-inline: 2rem;
}

.Collapse-about {
width: 100%;
}
.collapsetitle {
background-color: #FF6060;
width: 100%;
border-radius: 5px;
padding: 1rem;
color: white;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 142.6%; /* 25.668px */

display: flex;
justify-content: space-between;
cursor: pointer;
}
.collapsecontent {
background-color: #f6f6f6;
width: 100%;
border-radius: 5px;
padding: 1rem;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; /* 25.668px */


display: flex;
align-items: stretch;
}

.fa-chevron-down {
    font-size: 150%;
    align-items: center;
    display: flex;
}

ul {
    padding-inline-start: 2px;
    margin: 0;
}

/* Animations */
.chevron-down {
    -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;

        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
}
.chevron-up {
-moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;

        -moz-transform:rotate(1800deg);
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
}

.hidden {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;

    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);

    z-index: -1;
    margin-top: -100px;
}
.visible {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;

    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);

    z-index: -1;
    width: inherit;
}



@media (max-width: 576px) {

    .Collapse-container {
    width: 100%;
    justify-content: center;
    }
    .Collapse-container-about  {
        width: 70%;
        padding-right: 8%;
        }
    .hidden {
            margin-top: -200px;
    }
    .Collapse-logement {
        overflow-y: clip;
        min-height: 75px;
    }
  }

