.Collapse {
    display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 2rem;
justify-content: center;

}
.Collapse-container {
    justify-content: space-between;
    display: flex;
    padding-inline: 0;
    margin: 30px 0px;
    width: 45%;
    align-items: baseline;
}
.Collapse-container-about {
    justify-content: center;
    display: flex;
    padding-right: 5%;
    margin: 30px 0px;
    width: 100%
}

.Collapse-logement {
width: 100%;
}
.Collapse-about {
width: 90%;
}
.collapsetitle {
background-color: #FF6060;
width: 100%;
border-radius: 5px;
padding: 1rem;
color: white;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 142.6%; /* 25.668px */

display: flex;
justify-content: space-between;
}
.collapsecontent {
background-color: #f6f6f6;
width: 100%;
border-radius: 5px;
padding: 1rem;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; /* 25.668px */

min-height: 200px;
  display: flex;
  align-items: stretch;
}
.fa-chevron-down {
    font-size: 150%;
    
    cursor: pointer;
}
.chevron {
    align-items: center;
  display: flex;
}


/* Animations */




@media (max-width: 576px) {

    .Collapse-container {
    width: 90%;
    justify-content: center;
    }
    .Collapse-container-about  {
        width: 70%;
        padding-right: 8%;
        }
  }

