.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;       
    align-items: center;
}

.logo {
    height: 60px;
}
nav a {
    padding-right: 15px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-decoration: none;
    color: black;
&:hover, &.active{
text-decoration: solid underline 2px;
}
}

@media (max-width: 576px) {
    nav a {
        font-size: 15px;
        text-transform: uppercase;
    }
    .logo {
        height: 32px;
    }
  }
 
