.Logement-page {
    margin-inline: 20px;
}
.Logementscards 
    {
    background-color: #F6F6F6;
    min-height: 20vh;
    border-radius: 20px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;;
    flex-wrap: wrap;
    justify-items: start;
    margin-bottom: 20px;
}
.Thumb {
    background-color: #FF6060;
    background: linear-gradient(to top, #ce4e4e, #FF6060);
    height: 300px;
    flex-basis: 30%;
    border-radius: 10px;

    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.Thumb img {
object-fit: cover;
display: flex;
align-self: center;
border-radius: 20px 20px 0 0;
padding: 10px;
height: 80%;
width: 96%;

}

.Thumb h3 {
    padding: 1rem;
    font-size: 16px;
    font-weight: 600;

    text-align: start;
    color: white;
    text-decoration: none;
}
@media (max-width: 576px) {
    .Logementscards {
      background-color: white;
      //flex-direction: column;
    }
    .Thumb {
        flex-basis: 90%;
        justify-content: space-around;
        justify-content: start;
    }
    .Thumb img {
        width: 95%;
        }
  }
 
