@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    width: 100%;
    font-family: Montserrat;
}
.Home {
    padding-inline: 30px;
}

@media (max-width: 576px) {

    .Home {
        padding-inline: 0;
    }
  }
