@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    width: 100%;
    font-family: Montserrat;
    max-width: 1600px;
  margin: auto;
}
body {
    margin: 0;
}
.Home, .About, .Logement-page {
    padding-inline: 20px;
}

@media (max-width: 576px) {

    .Home {
        padding-inline: 0;
    }
    .About {
        padding-inline: 0;
    }
  }
